:root {
  --element-bg-color: transparent;
  --group-color: gray;
  --diagram-background: transparent;
  --diagram-stroke-width: 0.25rem;
  --diagram-stroke-color: red;
}

railroad-diagram {
  /* border: 1px dotted orange; */
  display: flex;
  /* grid-template-columns: min-content 1fr min-content; */
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  background: var(--diagram-background);
}

railroad-diagram > canvas {
  position: absolute;
  inset: 0;
  z-index: -1;
}

railroad-terminus {
  height: 2rem;
  width: 1rem;
}

railroad-sequence {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}

railroad-group, railroad-stack {
}

railroad-group {
  border-width: var(--diagram-stroke-width);
  border-color: var(--group-color);
  border-style: dashed;
  border-radius: 0.75rem;
}

railroad-group > span {
  background: var(--diagram-background);
  color: var(--group-color);
  position: absolute;
  top: -0.75rem;
  left: 2rem;
  padding: 0 0.25rem 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

railroad-stack {
  flex-direction: column;
}

railroad-skip {
}

railroad-comment {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-style: italic;
  padding: 0.25rem;
}

railroad-terminal, railroad-nonterminal {
  background-color: var(--element-bg-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* Important: this is where the svg connects */
  padding: 0.5rem 1rem;
  white-space: nowrap;
  width: min-content;
  height: min-content;
}

railroad-terminal {
}

railroad-nonterminal {
  font-style: italic;
}
