rr-diagram {
  --background-color: transparent;
  --terminal-background-color: hsl(120, 100%, 90%);
  --nonterminal-background-color: hsl(120, 100%, 90%);
  --gap-block: 2em;
  --gap-inline: 2em;
  --border-radius: 1em;
  --arc-radius: 10px;  /* px value only, set to 1px for no arcs, must not exceed ~1/2 gap */
  --line-width: 1px;  /* px value only */
  --line-color: black;
}

rr-diagram [optional] {
  margin-top: calc(0.5 * var(--gap-block));
}

rr-diagram [repeatable] {
  margin-bottom: calc(0.5 * var(--gap-block));
}

rr-diagram [optional], rr-diagram [repeatable] {
  margin-left: calc(0.5 * var(--gap-inline));
  margin-right: calc(0.5 * var(--gap-inline));
}

rr-diagram {
  position: relative;
  padding: var(--gap-block) var(--gap-inline);
}

rr-diagram, rr-sequence {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--gap-block) var(--gap-inline);
}

rr-sequence {
  /* padding-inline: calc(0.5 * var(--gap-inline)); */
}

rr-choice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-block) var(--gap-inline);
  padding-inline: var(--gap-inline);  /* TODO: makes sense? */
}

rr-diagram > canvas {
  position: absolute;
  inset: 0;
  z-index: 1;
}

rr-terminal, rr-nonterminal {
  padding: 0.25em 0.5em;
  font-weight: bold;
  border-color: var(--line-color);
  border-width: var(--line-width);
  border-style: solid;
}

rr-terminal {
  background-color: var(--terminal-background-color);
  border-radius: var(--border-radius);
}

rr-nonterminal {
  background-color: var(--nonterminal-background-color);
  font-style: italic;
}

rr-start, rr-end {
  padding-block: 0.5em;
  padding-inline: 0.25em;
  align-self: center;
  border-color: var(--line-color);
  border-width: var(--line-width);
  border-style: solid;
}
